* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    flex-wrap: wrap;
    
}

.Nav {
    background-color: rgb(247, 247, 247);
    border: 4px rgb(222, 222, 222) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
}

.Azul {
    color: rgb(36, 93, 163);
}

.Nav_Logo {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 5px;
}

.Nav_Text{
    display:flex;
    flex-direction: column;
}
.Nav_Logo img {
    width: 70px;
    height: 70px;
}

.Nav_Extras {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.Nav_Form {
    display: flex;
    height:40px;
    gap:5px;
}

.Nav_Form button {
    background-color: rgb(40, 94, 165);
    border: none;
    color: white;
    width: 100px;
    border-radius:5px;
}

.Nav_Libros {
    display: flex;
    gap: 5px;
    align-items: center;
}

.Nav_Libros img{
    width:40px;
    height:40px;
}

.Nav_Libros_Text{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.Nav_Libros_Text h1{
    font-size:18px;
}
.Nav_Libros_Text p{
    font-size:18px;
    padding-top:20px;
}
.Main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.Categorias {
    background-color: rgb(209, 220, 232);
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    flex-wrap: wrap;
}

.Categoria {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    gap: 25px;
    width:140px;
    margin-bottom:5px;
    flex-wrap: wrap;
    background-color:rgb(237, 240, 244);
}

.Categoria img {
    width: 60px;
    height: 48px;
    margin-top:20px;
}

.Seccion2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:20px;
    padding:20px;
    flex-wrap: wrap;
}

.Anuncio{
    width:725px;
    height:405px;
    background-color:rgb(197, 197, 197);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align:center;
    padding:10px;
    gap:10px;
}

.Anuncio_Texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width:255px;
    font-size:32px;
    font-weight: lighter;
    gap:20px;
    text-align: start;
}
.Raya{
    border:3px solid rgb(39, 94, 160);
    width:80px;
}
.Anuncio img{
    width:440px;
    height:340px;
}

.Recomendaciones{
    width:400px;
    height:400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
}

.Recomendacion{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    border:1px solid gray;
    height:125px;
}

.Recomendacion img{
    width:100px;
    height:130px;
    padding:20px;
}

.Subrayado{
    text-decoration: underline;
}

.Recomendacion_Info{
    display:flex;
    flex-direction: column;
    max-width:350px;
    width:350px;
    padding:25px;
    position: relative;
    gap:15px;

}

.Desc{
    color:rgb(66, 66, 66);
    font-size:16px;
}
.Recomendacion_Info a{
    max-width:80px;
}
.Pedir{
    position:absolute;
    top:75px;
    left:210px;
}
.Pedir button{
        background-color:rgb(24, 55, 84);
    color:white;
    border:none;
    border-radius:50%;
    height:40px;
    width:40px;
    font-size:30px;
    cursor:pointer;
}

.Pedir button:hover{
    background-color:rgb(187, 76, 2);

}
.Negrita{
    font-weight:bold;
}